version: "3.3"

services:
  postgres:
    image: postgres:17
    restart: always
    tty: true
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "6432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - outside
